<div class="jumbotron">
    <h1 class="text-center">All Mentors</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin Status</th>
    </tr>
  </thead>
  <tbody>
  <% @mentor.each do |m| %>
    <tr>
      <td>
        <% if current_mentor == m %>
        <a href="/mentors/edit/<%=m.id%>"><%= m.name %></a>
        <% else %>
        <%= m.name %>
        <%end%>
      </td>
      <td><%= m.email %></td>
      <td><%= m.admin %></td>
    </tr>
  <% end %>
  </tbody>
</table> 