<!DOCTYPE html>
<html>
  <head>
    <title>ESSAP2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:errors] %>
      <% flash[:errors].each do |e| %>
        <%= e %>
      <% end %>
    <% end %>
    <% if current_user %>
      <form action="/sessions/users/<%=current_user.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
      </form>
    <% end %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e| %>
        <%= e %>
      <% end %>
    <% end %>
    <% if current_mentor %>
      <form action="/sessions/mentors/<%=current_mentor.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
      </form>
    <% end %>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/mentors/login">Login Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sessions/users">Student Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/create">Create a student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mentors/create">New Mentor Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mentors">All Mentors</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
